EndGameHelmetMessaging/Service References/MessagingService/HelmetMessagingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelmetMessagingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelmetMessagingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageItem" nillable="true" type="tns:MessageItem" />
</xs:schema>